* {
    font-family: 'Nunito', Verdana, sans-serif;
}

body.login {
    background-color: #34889c;
    background: linear-gradient(to right, #34889c, #4678c8);
}

.bg-encabezado{
    background-color: #34889c;
    background: linear-gradient(to right, #34889c, #4678c8);
}

.iconos{
    display: flex;
    width: 15px;
}

.contenedorNuevo{
    display: flex;
    flex-direction: column;
    width: 10rem;
}

.bg-login {
    background-image: url('../img/login.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.bg-gris{
    background-color: rgb(235, 235, 235);
}

#main-page {
    background-color: #f8f9fc;
}
.callout-primary {
     border-left-width: 6px;
     border-left-color: #428bca;
}
.callout-success {
    border-left-width: 6px;
    border-left-color: #1cc88a;
}
.callout-info {
    border-left-width: 6px;
    border-left-color: #36b9cc;;

}
